Header set X-Content-Type-Options: "nosniff"
Header set X-Frame-Options: "sameorigin"
Header set Referrer-Policy "strict-origin-when-cross-origin"
Header set x-xss-protection "1; mode=block"

AddDefaultCharset UTF-8

Header set Content-Security-Policy "font-src 'self' https://stackpath.bootstrapcdn.com https://code.jquery.com/ https://kit.fontawesome.com; base-uri 'self';"