{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body_id 'index' %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
			<p>Collectif est un site qui permet de trouver des events</p>
			<a href="">Inscription</a>
			<p>Déjà encore inscrit ? <a href="">Connectez-vous</a></p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>{{nbEvent}} évènements ont déjà été crée !</h2>
				<input type="date" id="start" name="trip-start"
			       value="2018-07-22"
			       min="2018-01-01" max="2018-12-31">
		       	<input type="text" id="name" name="name" required
       			minlength="4" maxlength="8" size="10">
				<ul>
				{% for item in nbEventByCategory %}
					<li><a href="{{ path('events_category', {category: item.name})}}">{{item.number ~ ' - ' ~ item.name}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
