$mainColor : #0E75BF;
$colorBG : #f1f2f3;
$colorLinkHover: #1411a0;
$colorText: #fff;
$black: #000;

/* Reset */

* {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body{
	background: $colorBG;
}

main{
	padding-bottom: 100px;
}

a:hover{
	text-decoration: none;
	color: $colorText;
}

.flex{
	display: flex;
}

.hide{
	display: none;
}

.align-center{
	align-items: center;
}

.mbsm{
	margin-bottom: 40px;
}

.mtsm{
	margin-top: 40px;
}

.mbxl{
	margin-bottom: 80px;
}

.mbxs{
	margin-bottom: 20px;
}

.js-filter-form{
	position: relative;
}

.is-loading::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	opacity: .5;
	z-index: 4;
}

.is-loading .spinner-border{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
}

/* Index */

.index-intro{
	border: 1px solid #ddd;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
	background: $colorText;
	padding: 3rem;
	border-radius: 5px;
}

.index-connexion{
	&:hover{
		text-decoration: underline;
		color: $colorLinkHover;
	}
}

.index-categories{
	padding: 0;
	list-style: none;
	& li {
		& a{
			padding: 30px 5px;
			color: $colorText;
		}
	}
}

#index{
	input{
		width: 25%;
	}
}


/* Show event */

.no-rate{
	text-align: center;
	font-size: 20px;
}

.rate-average{
	text-align: center;

	img{
		width: 25px;
		height: auto;
	}
}

@import '_header.scss';
@import '_form.scss';
@import '_review.scss';
@import '_footer.scss';


