{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body_id 'edit-category' %}

{% block body_class 'form-style' %}

{% block body %}
    <div class="container">
		<h1 class="text-center mb-5">Edit Categories</h1>

	    {{ include('categories/_delete_form.html.twig') }}

	    {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

	    <a href="{{ path('categories_index') }}">back to list</a>
	</div>

{% endblock %}
