{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body_id 'new-category' %}

{% block body %}
    <div class="container">
		<h1 class="text-center mb-5">Créer une nouvelle catégorie</h1>

	    {{ include('categories/_form.html.twig') }}

	    <a href="{{ path('categories_index') }}">Liste des catégories</a>
	</div>
{% endblock %}
