<form class="d-inline-block align-bottom card-link" method="post" action="{{ path('join_event', {'id': event_id, 'participant': participant}) }}">
    <button class="btn btn-primary mt-3">Rejoindre cet évènement</button>
</form>
