<form class="d-inline-block align-bottom card-link" method="post" action="{{ path('send_comment', {'id': event_id}) }}">
	<div class="form-row">
		<div class="form-group col-md-12">
    		{{ form_row(form.comment) }}
    	</div>
    </div>
    <button type="submit" class="btn btn-primary d-block mx-auto">Envoyer un message</button>
</form>
