{% extends 'base.html.twig' %}

{% block title %}Modifier évènement{% endblock %}

{% block body_id 'edit-event' %}

{% block body %}
<div class="container">
	<h1 class="text-center mb-5">Modifier cet évènement</h1>
    {% include('events/_delete_form.html.twig') with {'event_id': event.id} %}

    {{ include('events/_form.html.twig') }}

    <a href="{{ path('events') }}">Liste des évènements</a>
	</div>
{% endblock %}
