{% extends 'base.html.twig' %}

{% block description %}Crées ton propre évènements !{% endblock %}

{% block title %}Nouvel évènement{% endblock %}

{% block body_id 'new-event' %}

{% block body %}
	<div class="container">
	    <h1 class="text-center mb-5">Créer un nouvel évènement</h1>

	    {{ include('events/_form.html.twig') }}

	    <a href="{{ path('events') }}">Liste des évènements</a>
	</div>
{% endblock %}
